---
import BaseLayout from "../layouts/BaseLayout.astro";
import Introduction from "../components/Introduction.astro";
import Recents from "../components/Recents.astro";
import Socials from "../components/Socials.astro";

---

<BaseLayout
  title="Sage's Blog"
  description="SageChen's Blog"
  author="SageChen"
  url="https://blog.sagec.fun"
  isHome={true}
>
  <div class="center">
    <section>
      <Introduction />
    </section>
    <section>
      <Recents />
    </section>
    <hr />
    <section>
      <Socials />
    </section>
  </div>
</BaseLayout>
