---

---

<nav class="flex items-center justify-center gap-2 font-mono text-sm sm:gap-4">
  <a
    href="/"
    class:list={[
      "navigation animation",
      Astro.url.pathname === "/" ? "text-accent" : "",
    ]}>首页</a
  >
  <span class="text-muted-foreground">/</span>
  <a
    href="/blog"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/blog") ? "text-accent" : "",
    ]}>博客</a
  >
  <span class="text-muted-foreground">/</span>
  <a
    href="/about"
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith("/about") ? "text-accent" : "",
    ]}>关于</a
  >
</nav>
