---
import IconGithub from "../assets/icons/brand-github.svg";
---

<div class="flex items-center justify-center space-x-6 pb-8">
  <a href="https://github.com/Sagecheni" target="blank" aria-label="gitbub"
    ><IconGithub class="socials" /></a
  >
</div>
